*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;

}

.display{
    display: none;
}

.main{
    padding: 1rem 0rem;
}

spam{
    color: #754ffe;
    text-decoration: underline 6px #f59e0b;
}

.spam-not{
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
}



/* img{
    max-width: 100%;
} */


/* ================== NAVBAR ====================== */

.navbar-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.navbar-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-anchors{
    gap: 2rem;
    text-transform:capitalize;
    color: grey;
    
}

.navbar-anchors h3:hover{
    color: #754ffe;

}

.btn{
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    background-color: #754ffe;
    color: white;
    font-weight: 700;
}

.btn:hover{
    background-color: #3f12e1;
}

.sun{
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 0.3rem;
}

.sun:hover{
    background-color: rgb(163, 163, 163);
}

.menu{
    font-size: 1.5rem;
}

/* ========================  NAVBAR-CLOSED  ======================= */


/* ===========================  HERO-SECTION ========================== */

/* .hero-child-2{ */
    /* position: relative;
} */

.hero-section{
    margin-top: 2rem;
    padding: 1rem 2rem;
}

.hero-child-1{
    max-width: 600px;
}
.hero-child-1 h1{
    margin-bottom: 2rem;
    
}

.hero-child-1 p{
    margin-bottom: 1.5rem;
    font-size: 1.10rem;
}

.hero-child-1 h3{
    display: flex;
    gap: 1rem;
    font-weight: 300;
    color: grey;
    font-size: 1.15rem;
    margin-bottom: 1rem;
}

.btn2{
    border: none;
    background-color: black;
    color: white;
    padding: 0.8rem 1rem;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn2:hover{
    background-color: rgb(80, 79, 79);
}

.hero-child-2{
    position: relative;
    
   
}
.hero-child-2 img{
   width: 100%;
   min-height: 100px;
   max-height: 500px;
    border-radius: 30px;
   
}

.img{
    position: absolute;
    
}

.img2{
    top: 39%;
    left: 38%;
    z-index: -1;
    transform: scale(0.5);
}

.img1{
    z-index: -1;
    top: -30%;
    left: -26%;
}

/* ========================== HERO-SECTION-CLOSED ===================== */

/* ============================= VIDEO-SECTION  =========================== */
.video-main-section{
    background-color:#e2e8f0;
    padding: 1rem 2rem;
    margin-top: 2rem;

}

.video-original{
    /* margin: auto; */
    padding: 2rem 0;
}

.video-child-1{
    /* margin: auto; */
}

.video-section-child-11{
    margin-bottom: 2rem;
}

.video-section-child-11 h1{
    margin-bottom: 2rem;
   
  
}

.video-section-child-11 p{
    margin-bottom: 1rem;
}

.video-section-child-12{
   background-color: black;
   width: 100%;
   min-height: 200px;
   max-height: 800px;
    
   background-image: url(assets/asset\ 22.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 10px;
   outline: 5px solid #e0dcee;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* .video-section-child-12 svg:hover{
    fill: #754ffe;
   

} */

.bt3{
    border: 1.75px solid #94a3b8;
    color: #94a3b8;
    background-color: #ede9fe;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    text-transform: capitalize;
    font-size:1rem
}

.bt3:hover{
    background-color: #64748b;
    color: white;
    border: 1.75px solid #94a3b8;
}

.video-button{
    position: absolte;
}

/* ============================ VIDEO-SECTION-CLOSED ================================== */

/* ==================================== COURSE-SECTION =================================== */
.course-main{
    padding: 1rem 2rem;
    margin-top: 2rem;
}
.course-main p{
    margin-top: 1rem;
}

.course-box-section{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1.5rem;
}
.box{
   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 400px;
    min-width: 300px;
    height: 340px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    padding: 1rem 0.5rem;
   
   
    
}

.box h3{
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.box h4{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.box h3:hover{
    color: #754ffe;
}

/* .box h3,
.box h4,
.box span {
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.box:hover h3, 
.box:hover h4, 
.box:hover span {
      transform: translateY(-2px); Moves the text up on hover */
    

/* .box:hover{
    transform:translatey(-2px) ;
    box-shadow:  3px 3px 10px #b5b5b5,
             -3px -3px 10px #ffffff;
} */

.box1{
    background-image: url(assets/asset\ 9.jpeg);
}

.box2{
    background-image: url(assets/asset\ 10.jpeg);
}

.box3{
    background-image: url(assets/asset\ 11.jpeg);
}

.box4{
    background-image: url(/assets/asset\ 12.jpeg);
}

.box5{
    background-image: url(assets/asset\ 13.jpeg);
}

.box6{
    background-image: url(assets/asset\ 14.jpeg);
}

.box7{
    background-image: url(assets/asset\ 15.jpeg);
}

.box8{
    background-image: url(assets/asset\ 16.jpeg);
}

/* ================================ VIDEO-SECTION-CLOSED ================================= */

/* =================================== WEBINAR SECTION ======================================== */

.webinar-main-section{
    padding: 1rem 2rem;
    margin: 3rem auto;
}

.webinar-main-section p{
       margin-top: 1rem;
       margin-bottom: 1rem;
}

.webinar-card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.webinar-box{
    padding: 0%;
    
    
}

.boxw{
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 400px;
    min-width: 300px;
    height: 340px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    
   
}

.webinar-box1{
    height: 100%;
    width: 100%;
    background-image:url(assets/asset\ 18.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0%;
    

}

.webinar-box2{
   
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
    padding: 1rem;
}

.webinar-box2 p{
    margin-bottom: 0.5rem;
}

.webinar-box2 btn{
    margin-top: 0.5rem;
}

.webinar-box2:hover{
    transform:translatey(-1px) ;
    box-shadow:  1px 1px 3px #b5b5b5,
             -0px -0px 0px #ffffff;
}

.wb2{
    background-image: url(assets/asset\ 19.jpeg);
}

.wb3{
    background-image: url(assets/asset\ 20.jpeg);
}

.webinar-btn{
    border: none;
    background-color: #9c84f3a7;
    text-transform: capitalize;
    color: #3f12e1;  
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    border-radius: 8px;
    font-size: 1rem;
}

/* ============================= WEBINAR-SECTION-CLOSED ============================= */

.certificate-main{
    padding: 1rem 2rem;
    margin: 2rem auto;
}
.certificate-heading{
    text-align: center;
    margin-bottom: 1.5rem;
}

.certificate-heading p{
    margin-top: 1.5rem;
}

.certificate-child-1{
    display: flex;
}

.certificate-child-2{
    display: flex;
}

.certificate-box-1{
    min-width: 200px;
    min-height: 200px;
    max-height: 400px;
    max-width: 650px;
    margin: 0rem 1rem;

}

.certi-p{
    margin:2.5rem 0.5rem;
}

.certi-p h3{
    margin: 1rem auto;
}



.certificate-box-1 img{
    width: 100%;
    height: 100%;
}

/* ================================= CERTIFICATE-CLOSED ==================================== */

/* ================================== PURPLE-SECTION ========================================== */

.pp-og{
    padding: 1rem 2rem;
}

.purple-main{
    display: flex;
    background-color: #754ffe;
    min-height:auto;
    /* height: 300px; */
    min-width:200px ;
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem 2rem;
    border-radius: 25px;
    justify-content: space-between;
}

.purple-child-2{
    display: none;
}

.purple-child-1{
    max-width: 400px;
}

.purple-child-1 h1{
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.purple-child-1 p{
    color: rgb(195, 194, 194);
    margin-bottom: 2rem;
}

.purple-child-1 button{
    border: none;
    background-color: black;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
}

.purple-child-1 button:hover{
    background-color: rgb(42, 41, 41);
}



/* ===================== RESPONSIVE TYPOGRAPHY ================== */

@media (min-width:700px){
    .display{
        display: flex;
    }

    .fa-solid{
      visibility: hidden;
    }

    .hero-section{
        display: flex;
        margin-top: 4rem;
        justify-content: space-around;
    }

    .hero-child-1 h1{
        font-size: 3rem;
        margin-top: 1rem;
    }

    .hero-child-1 p{
        font-size: 1.15rem;
        line-height: 1.5;
    }

    .btn2{
        margin-bottom: 0rem;
    }

    /* ==================== VIDEO-SECTION ==================== */

    .video-original{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
        flex-direction: column;

    }
    .video-child-1{
        display: flex;
        
        
    }

    .video-section-child-11{
        margin-right: 2rem;
    }

    .video-section-child-11 h1{
        font-size: 2.5rem;
    }
    
    .video-section-child-11 p{
        font-size: 1.15rem;
    }


    .certificate-box{
        display: flex;
    }
    

    .purple-child-2{
        display: flex;
    }
}